/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body{
	padding-top: 100px;
    background-color: #D6D6D6;
}

.profile-title {
    text-align: center;
}

.friends-title {
    text-align: center;
}

.friends-box {
    height: 300px;
    background-color: #FFFFF0;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 10px;
}

.welcome-message {
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
}

.red-bold {
    font-weight: 500;
    color: red;
}

.green-bold {
    font-weight: 500;
    color: green;
}

.black-bold {
    color: black;
    font-weight: 500;
}

.rotate {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.reg-form {
    padding: 0 30px 20px 30px;
    background-color: blue;
    border-radius: 20px;
}

.form-fields {
    padding: 5px 0;
}

.white-text h2,div.field label {
    color: white;
}

.white-text h2 {
    text-align: center;
}

#post_content {
    height: 100px;
}

#welcome-buttons {
    padding-bottom: 30px;
}

#welcome-buttons p{
    padding-bottom: 50px;
    text-align: center;
}
.welcome-buttons {
    margin-left: 80px;
}

.sign-up-buttons {
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
}

.sign-up-buttons p {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    top: 30px;
}

.sign-up-buttons:hover {
    opacity: .75;
}

div.sign-up-button {
    height: 100px;
    /*width: 200px;*/
    background-color: red;
    border-radius: 10px;
    text-align: center;
}

div.sign-in-button {
    height: 100px;
    /*width: 200px;*/
    background-color: red;
    border-radius: 10px;

}

/* Nav DropDown Styles*/

div#nav-dropdown span.caret {
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

div#nav-dropdown button.dropdown-toggle {
    padding: 0;
    color: white;
    background-color: #222;
    border: none;
}

div#nav-dropdown ul.dropdown-menu {
    background-color: #222;
    margin-top: -1px;
    padding: 0;
}

div#nav-dropdown ul.dropdown-menu li span {
    color: #fff;
}

div#nav-dropdown ul.dropdown-menu li {
    padding: 12px 15px 40px;
}

div#nav-dropdown ul.dropdown-menu li:hover {
    border: 2px solid #fff;
}

.profile-icon {
    /*padding: 3px 15px 0;*/
}

/* ----- Modal Styles ------ */

div#post-modal div.modal-header span {
    font-size: 1.7em;
    color: red;
}

div#post-modal div.modal-body input.btn-success {
    position: relative;
    bottom: 33px;
}

div#post-modal div.modal-body textarea {
  resize: none;
  overflow: auto; /* For IE to remove scrollbars*/
}

div.name-grav p {
    padding-top: 5px;
}

div.post-box div.btn-group button {
    background-color: #FFFFE0;
}

div.post-corner div.btn-group ul {
    background-color: #FFFFE0;
    top: 93%;
}

.post-content img {
    padding-bottom: 20px;
}

.post-content .post_content textarea {
    resize: none;
}

.post-content .edit_post input.button {
    position: relative;
    top: -41px;
}

.post-content .edit_post input.file {
    position: relative;
    top: -41px;
}

div.post-box {
    background-color: #FFFFE0;
    min-height: 150px;
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

div#user-posts div.post-boxes {
    margin: 5px 0;
}

div.post-boxes {
    min-height: 155px;
    background-color: #FFFFF0;
    padding: 15px 0;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}

div.post-boxes div.name-grav {
    text-align: center;
}

div.post-boxes div.post-box-arrow {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFE0;
    
}

div.likes-container {
    margin: 38px 0 0 -10px;

}

div.likes-container ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
    width: 115px;
}

div.likes-container li {
    display: inline;
    padding: 1px;
}

div.likes-container ul li img {
    height: 20px;
    width: 20px;
}

div.time-ago {
    color: white;
    background-color: black;
    padding: 2px 5px;
    border-radius: 12px;
    font-size: 11px;
    margin-top: -6px;
}

.post-corner {
    border-top-right-radius: 5px;
}

.gravatar {
    height: 50px;
    width: 50px;
}

.gravatar-in-post {
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.name {
    font-size: 20px;
    color: white;
    padding-right: 13em;
}

.text-center {
    text-align: center;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .navbar-header img {
    height: 50px;
    width: 50px;
 }

 .navbar-header span {
    color: white;
    font-size: 20px;
 }