/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body{
	padding-top: 100px;
    background-color: #D6D6D6;
}

.welcome-message {
    text-align: center;
    padding-bottom: 20px;
    font-size: 24px;
}

.red-bold {
    font-weight: 500;
    color: red;
}

.green-bold {
    font-weight: 500;
    color: green;
}

.black-bold {
    color: black;
    font-weight: 500;
}

.reg-form {
    padding: 0 30px 20px 30px;
    background-color: blue;
    border-radius: 20px;
}

.form-fields {
    padding: 5px 0;
}

.white-text h2,div.field label {
    color: white;
}

.white-text h2 {
    text-align: center;
}

#post_content {
    margin: 2px -164.5px -2px -75px;
    width: 424px;
    height: 76px;
}

#welcome-buttons {
    padding-bottom: 30px;
}

#welcome-buttons p{
    padding-bottom: 50px;
    text-align: center;
}
.welcome-buttons {
    margin-left: 80px;
}

.sign-up-buttons {
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
}

.sign-up-buttons p {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    top: 30px;
}

.sign-up-buttons:hover {
    opacity: .75;
}

div.sign-up-button {
    height: 100px;
    /*width: 200px;*/
    background-color: red;
    border-radius: 10px;
    text-align: center;
}

div.sign-in-button {
    height: 100px;
    /*width: 200px;*/
    background-color: red;
    border-radius: 10px;

}

div.name-grav p {
    padding-top: 5px;
}

div.post-box div.btn-group button {
    background-color: #FFFFE0;
    /*border-radius: none;*/
}

div.post-corner div.btn-group ul {
    background-color: #FFFFE0;
    top: 93%;
}

div.post-box {
    background-color: #FFFFE0;
    min-height: 150px;
    padding: 20px 0;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

div.post-boxes {
    min-height: 155px;
    background-color: #FFFFF0;
    padding-top: 15px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}

div.post-boxes div.name-grav {
    text-align: center;
}

div.post-boxes div.post-box-arrow {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFFFE0;
    
}

div.likes-container {
    margin-top: 38px;
}

div.likes-container ul {
    list-style-type: none;
    position: absolute;
    bottom: 0;
}

div.likes-container li {
    display: inline;
    padding: 1px;
}

div.likes-container ul li img {
    height: 20px;
    width: 20px;
}

div.time-ago {
    color: white;
    background-color: black;
    padding: 2px 5px;
    border-radius: 12px;
    font-size: 11px;
    margin-top: -6px;
}

.post-corner {
    border-top-right-radius: 5px;
}

.gravatar {
    height: 50px;
    width: 50px;
}

.gravatar-in-post {
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.name {
    font-size: 20px;
    color: white;
    padding-right: 13em;
}

.text-center {
    text-align: center;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .navbar-header img {
    height: 50px;
    width: 50px;
 }

 .navbar-header span {
    color: white;
    font-size: 20px;
 }